.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

.navbar-nav {
  margin-left: 300px;

}

#header {
  background-color: blue;
}

h1 {
  color: white;
}


p {
  margin-top: 10px;
}

#menu {
  background-color: red;
}
