.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

li.ul {
  display: inline;
}

#header {
  background-color: blue;
}

h1 {
  color: white;
}

#menu {
  font-size: 16px;
}

p {
  margin-top: 10px;
}
