<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="container-fluid" id="header">
  <h1>{{ page.title }}</h1>
</div>
<nav class="navbar-nav"
  <div class="container-fluid" id="menu">
   <div>
     <ul class="nav navbar-inverse">
      <li class="btn-danger"><a href="com372student/Projects/evancainsju.github.io/_layouts/about.html">About</a></li>
      <li class="btn-danger"><a href="com372student/Projects/evancainsju.github.io/assets/fights.html">Fights</a></li>
      <li class="btn-danger"><a href="com372student/Projects/evancainsju.github.io/_includes/Goals.html">Goals</a></li>
     </ul>
   </div>
  </div>
</nav>
<div class="container">
</div>
{{ content }}
</body>
</html>
</div>
</body>
</html>
