<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="container-fluid" id="header">
  <h1>{{ page.title }}</h1>
</div>
<nav>
  <div class="container-fluid" id="menu">
   <div>
     <ul class="nav navbar-nav">
      <li><a href="about.html">ABOUT</a></li>
      <li><a href="fights.html">FIGHTS</a></li>
      <li><a href="goals.html">GOALS</a></li>
     </ul>
   </div>
  </div>
</nav>
<div class="container">
  <div class="row">
   <div class="col-md-12">
       {{ content }}
   </div>
  </div>
 </div>

</body>
</html>
</div>
</body>
</html>
